*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #966202ed, #dad0bfdc);
    padding: 10px;
    
}

.todo{
    width: 100%;
    max-width: 800px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo h2{
    color: blue;
    display: flex;
    align-items: center;
    margin: 20px;
    padding-top: 20px;
}

.todo h2 img{
    width: 30px;
    margin-left: 10px;
}
h4{
    color: rgb(2, 13, 61);
    display: inline-block;
    align-items: center;
    margin: 15px;
    margin-left: 22px;
    margin-right: 0px;
    padding-top: 20px;
}
#count{
    margin-left: 0px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #d7d7d7;
    border-radius: 30px;
    padding: 10px 20px 10px;
    margin: 10px 20px 10px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 25px;
    cursor: text;
    color: black;
    font-size: 23px;
}
button{
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 16px 50px;
    background: rgb(115, 214, 115);
    color: black;
    font-size: 16px;
    cursor: pointer;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;  
}
ul li::before{
    content: "";
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/circle.png);
    background-size: cover;
    background-position: center;
    top: 8px;
    left: 8px;
}
ul li.checked{
    color: #555;
    text-decoration:line-through;
}
ul li.checked::before{
    background-image: url(images/tick.png);
}

ul li span{
    position: absolute;
    right: 0px;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background: #edeef0;
}